<div class="feed">
	<div class="feed__item">
		<div class="feed__item--title">Afternoon Swim</div>
		<div class="feed__item--date">Today</div>
		<div class="feed__item--location">Arlington Park and Aquatic Center</div>
	</div>
</div>