<nav class="nav">
  <img src="https://www.usms.org/-/media/usms/developers/images/logo/usmslogo.png"  width="176" alt="logo" class="logo">
	{{!-- <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
	</ul> --}}
</nav>
